<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img src="/assets/img/3d-printer.png" alt="3DPrinterCare" height="40" /> 3DPrinterCare
        </a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/" class="nav-link active" aria-current="page">Hjem</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link" >Om os</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/repairService" class="dropdown-item" >Service List</a></li>
            </ul>
          </li>
        </ul>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-success me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
        
      </div>
    </div>
  </nav>
</body>
